@model IEnumerable<GameHouse.Data.Gallery>
@using GameHouse.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container">
    <div style="display:flex;justify-content:center;flex-direction:row;flex-wrap:wrap;gap:2em">
        @foreach (var item in Model)
        {
            var imagePath = "images/" + (item.ImageName);

            <div class="card border-white" style="width: 20rem;">
                <div class="card-block">
                    <img src=@imagePath class="card-img-top" alt="...">
                    <div class="card-block">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <h5 class="card-title">@item.ImageName</h5>
                            <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div><br />

<div class="container">
    <main role="main" class="pb-3">
        @foreach (var item in Model.Take(1))
        {
            <div class="text-center">
                <h4 class="title">@item.Room.Name</h4>
                <p class="body">@item.Room.Description</p>
                <p class="price">@item.Room.Price</p>
            </div>
            <div class="text-center">
                <form method="get">
                    <input asp-controller="Bookings" asp-action="Create" type="submit" value="BRONEERI" class="btn btn-warning">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <input asp-controller="Rooms" asp-action="AdminRooms" type="submit" value="TAGASI NIMEKIRJA" class="btn btn-danger">
                        <a asp-action="Create" asp-route-roomId = "@ViewBag.RoomId" type="submit" value="LISA" class="btn btn-warning text-center">LISA PILTE</a>
                    }
                    else
                    {
                        <input asp-controller="Rooms" asp-action="Index" type="submit" value="TAGASI" class="btn btn-danger">
                    }
                </form>
            </div>
        }
    </main>
</div>
<br />