@model IEnumerable<GameHouse.Data.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "Layout.cshtml";
}
<div class="container text-center">
    <section>
        <br />
        <a asp-action="Create" type="submit" value="LISA" class="btn btn-warning text-center">LISA UUS</a>
        <br />
    </section>
</div>
<br />
<div class="container">
    <main role="main" class="pb-3">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Muuda</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Vaata</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
                                <a asp-controller="Galleries" asp-action="Index" asp-route-nameId="@item.Id">Galerii</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </main>
</div>
