@model GameHouse.Data.Room

@{
    ViewData["Title"] = "Delete";
    Layout = "Layout.cshtml";
}
<div class="container">
    <br />
    <div>
        <h4>Kas oled kindel, et soovid selle kustutada?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-1">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.Image)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="KUSTUTA" class="btn btn-danger" />
            <input asp-action="Index" type="submit" value="TAGASI" class="btn btn-warning">
        </form>
    </div>
</div>