@using GameHouse.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@model IEnumerable<GameHouse.Data.Room>
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Home Page";
}

<partial name="Banner" />
<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h4 class="title">TERE TULEMAST MEIE MÄNGUMAJJA!</h4>
            <p class="body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </main>

    <div style="display:flex;justify-content:center;flex-direction:row;flex-wrap:wrap;gap:2em">
        @foreach (var item in Model)
        {
            var imagePath = "images/" + (item.Image);

            <div class="card border-white" style="width: 20rem;">
                <div class="card-block">
                    <img src=@imagePath class="card-img-top" alt="...">
                    <div class="card-block">
                        <h5 class="card-title">@item.Name</h5>
                        <div class="text-truncate-container">
                            <p>@item.Description</p>
                        </div>

                        <a class="navButton" asp-action="Details" asp-route-id="@item.Id">Vaata lähemalt</a>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Muuda</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
    <br>
</div>